<html>
    <head>
        <title>Minha Página de Recados</title>
    </head>

    <body>
        <div>
            Primeiro comentário, otário!
        </div>

        <div>
            Segundo comentário, otário!
        </div>

        <div>
            Terceiro comentário, otário!
        </div>

        <div>
            <form action="." method="POST">
                <textarea name="contents" placeholder="Digita alguma merda ai!"></textarea>
                <input type="submit" value="Postar">
            </form>
        </div>
    </body>
</html>